<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NYP.EVoting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <NYP.EVoting.Properties.Settings>
            <setting name="NYP_EVoting_EvotingService_EVotingService" serializeAs="String">
                <value>https://localhost:8443/axis2/services/EVotingService.EVotingServiceHttpsSoap11Endpoint/</value>
            </setting>
        </NYP.EVoting.Properties.Settings>
      
    </applicationSettings>
  <appSettings>
    <add key="CertificateName" value="client"/>
    <add key="ConstituencyID" value="C1001"/>
    <add key="StopProgram" value="stop"/>
    <add key="TruseServerSSL" value="true"/>
    <add key="ServerSSLSubject" value="CN=localhost, OU=SIT, O=NYP, L=SG, S=SG, C=SG"/>
    <add key="ServerPublicKey" value="3082010A0282010100CB7DFCC72C17D3216C1C6946F8B7BD557C285E62CEC327C0354D4A755FC18D2E64D98ACB08C038B650DD9CBF82738052D684FA252064C63309C37F8902A43EC05FD81AA9CD703F2FF449383D0BAB1A2B96386F55634762951CA42D2D258D4336C42B78D3B36E8D42F9707263F97C2F962E2F3A50F4A93153CB0EF0C22BDBD56EA90325F0419B37E8FF610DFEFC166AB56F1E5F437ABDEA9B14F4F884E0C73E598A119471A136D80F7F4D04B34D86B65E60826A754CA31B2045B0857E3992FAB6A19A0B55DA7372F8BC9DE7E7D768A9F6CFDF81CA4CF6C1F04B9D199F833F16106439F73186A1A12E16086DDEDC66A2564767332420B44AE5081F72CCD00C76B70203010001"/>
    
    <add key="FilePath" value="C:\Users\rmjawahar\Desktop\DataSecurity\Project\NYP.EVoting\NYP.EVoting\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
